.youtubeSearch {
    width: 100%;
    position: absolute;
    padding-left: 400px;
    padding-right: 250px;
    height: 100%;
    box-sizing: border-box;
    background-color: #e9ebee;
    padding-top: 60px;
    overflow: hidden;
}

.youtubeSearch .interpretes {
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    text-align: left;
    width: 250px;
    padding-top: 60px;
    overflow-y: scroll;
    padding-bottom: 50px;
    height: 100%;
}

.youtubeSearch .interpretes .search {
    position: fixed;
    bottom: 7px;
    right: 225px;
    z-index: 10;
    font-size: 20px;
}

.youtubeSearch .interpretes .filterInterpretes {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding: 3px 3px 3px 30px;
    font-size: 14px;
    border-style: none;
    outline-style: none;
}

.youtubeSearch .interpretes .interprete {
    box-sizing: border-box;
    cursor: pointer;
    padding: 5px 0;
}

.youtubeSearch .interpretes .interprete:hover {
    background-color: #dddfe2;
}

.youtubeSearch .interpretes .interprete .icon {
    margin-left: 10px;
    position: relative;
    top: 3px;
}

.youtubeSearch .interpretes .interprete .name {
    position: relative;
    top: -3px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
}

.player {
    position: absolute;
    left: 0;
    width: 400px;
    height: 100%;
    overflow-y: scroll;
}

.list {
    padding: 20px;
    height: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.player .wraperSong {
    padding: 5px;
    box-sizing: border-box;
    float: left;
    width: 100%;
}

.player .wraperSong .songOption {
    border: 1px solid #dcdcdc;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: auto;
    cursor: pointer;
    text-align: left;
}

.player .wraperSong .songOption:hover {
    background-color: #dcdcdc;
}

.player .songOption .thumb {
    width: 100%;
    float: left;
    padding: 0px;
    box-sizing: border-box;
    width: 150px;
    height: 110px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.player .songOption .title {
    padding: 5px 5px 0 165px;
    box-sizing: border-box;
    text-align: left;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
}

.player .songOption .desc {
    padding: 5px 5px 0 165px;
    box-sizing: border-box;
    text-align: left;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 400;
    color: gray;
}

.player .songOption .thumb img {
    width: 101%;
}